@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

body a {
    text-decoration: none;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 12px 24px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
    margin-top: 10px;
}

/* header section */

.logo {
    width: 20%;
    height: 20%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    left: 20px;
    bottom: -4px;
    position: absolute;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Hero Section */
#hero {
    background-image: url(./img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h4 {
    padding-bottom: 14px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url(./img/button.png);
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

/* Feature Section */
#feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    color: #088178;
    background-color: #fddde4;
    padding: 8px 11px;
    line-height: 1;
    border-radius: 5px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 94px rgba(0, 0, 0, 0.09);
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}


/* Product Section */
#product1 {
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#product1 .product {
    width: 23%;
    border: 1px solid #cce7d0;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    transition: 0.2s ease;
    margin: 15px 0;
    position: relative;
}

#product1 .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .product img {
    width: 100%;
    border-radius: 25px;
}

#product1 .product .info {
    text-align: start;
    padding: 15px 5px;
}

#product1 .product .info span {
    color: #606063;
    font-size: 16px;
}

#product1 .product .info h5 {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
}

#product1 .product .info .rating {
    color: rgb(255, 183, 0);
    font-size: 14px;
}

#product1 .product .info h4 {
    color: #088178;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

#product1 .product .cart {
    color: #088178;
    background-color: #cce7d0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    border: 1px solid #088178;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* banner Section */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    height: 40vh;
    background-image: url(./img/banner/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    line-height: 40px;
}

#banner h4 {
    font-size: 18px;
    color: #fff;
}

#banner h1 {
    color: #ffff;
    font-size: 30px;
}

#banner h1 span {
    color: rgb(255, 0, 64);
}

#banner button:hover {
    background-color: #088178;
    color: #ffff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    min-width: 580px;
    background-image: url(./img/banner/b17.jpg);
    background-position: center;
    background-size: cover;
    line-height: 40px;
    padding: 30px;
}

#sm-banner .banner-box:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    min-width: 580px;
    background-image: url(./img/banner/b10.jpg);
    background-position: center;
    background-size: cover;
    line-height: 40px;
    padding: 30px;
}

#sm-banner .banner-box h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

#sm-banner .banner-box h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner .banner-box span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.banner-box button:hover {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    min-width: 30%;
    background-image: url(./img/banner/b7.jpg);
    background-position: center;
    background-size: cover;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    min-width: 30%;
    background-image: url(./img/banner/b4.jpg);
    background-position: center;
    background-size: cover;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
    min-width: 30%;
    background-image: url(./img/banner/b18.jpg);
    background-position: center;
    background-size: cover;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2 {
    color: #fff;
    font-size: 24px;
}

#banner3 .banner-box h3 {
    color: rgb(233, 37, 200);
    font-size: 26px;
}

#banner4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e24;
}

#banner4 .banner-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#banner4 .banner-logo {
    width: 200px;
    background-color: #cce7d0;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.03);
    border: 1px solid #465b52;
    background-image: url(./img/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}

.banner-text h3 {
    color: #cce7d0;
}

.amazon-link h2 {
    color: #cce7d0;
    font-size: 28px;
}

footer .top-footer {
    display: flex;

    align-items: flex-start
}

footer .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    ;
}

footer .col p {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 15px;
}

footer .col .follow {
    margin-top: 10px;
}

footer .col .follow-icon i {
    margin: 5px;
    margin-top: 10px;
    font-size: 20px;
    color: #1a1a1a;
    transition: 0.1s;
}

footer .col .follow-icon i:hover {
    color: #088178;
}

footer .top-footer .col:nth-child(2) {
    width: 50%;
}

footer .top-footer .col:nth-child(2) h4 {
    margin-bottom: 10px;
}

footer li {
    list-style: none;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 15px;
}

footer .copyright {
    text-align: center;
    margin-bottom: -20px;
}



/* media Query */
@media (max-width: 799px) {

    .logo {
        width: 30%;
        height: 30%;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.03);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        font-size: 24px;
        padding-left: 25px;
        color: #1a1a1a;
    }

    #close {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1a1a1a;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #sm-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #sm-banner .banner-box {
        margin-bottom: 20px;
    }

    #banner3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    #banner4 {
        flex-direction: column;
        align-items: center;
    }

    #hero {
        background-image: url(./img/hero4.png);
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: top 25% right 60%;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}